## Exploratory Data Analysis

In this notebook the data given by different excel files is explored in order to define the details and constrains in the desing of the Data Model.

In [1]:
# Importar librerias python
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path

In [73]:
# Importar modulos propios en notebook
project_root = Path(os.getcwd()).parent
sys.path.append(str(project_root))

# Verifica que el directorio fue agregado
print("Directorio en sys.path:", project_root in sys.path)

Directorio en sys.path: False

In [ ]:
from db.connection import engine_setting, engine_connection

In [3]:


rootFolder = Path.cwd().parent

excel_path_1_bonos_trab =  rootFolder / "data" / "U532-2024-11-05.xls"
excel_path_2_taller_orden_rep =  rootFolder / "data" / "U533-2024-11-05.xls"
excel_path_3_bonos_pres =  rootFolder / "data" / "U551-2024-11-05.xls"
excel_path_4_stock =  rootFolder / "data" / "U552-2024-11-05.xls"
excel_path_5_compras =  rootFolder / "data" / "U553-2024-11-05.xls"
excel_path_6_mostrador =  rootFolder / "data" / "U554-2024-11-05.xls"
excel_path_7_invertidas =  rootFolder / "data" / "U555-2024-11-05.xls"
excel_path_8_taller_orden_venta =  rootFolder / "data" / "U560-2024-11-05.xls"
excel_path_9_cliente =  rootFolder / "data" / "U6301303-conta-2024-11-06.xls"
excel_path_10_articulo =  rootFolder / "data" / "U6301303-taller-2024-11-05.xls"
excel_path_11_empresas =  rootFolder / "data" / "U6311303-conta-2024-11-06.xls"
excel_path_12_talleres =  rootFolder / "data" / "U6311303-taller-2024-11-05.xls"
excel_path_13_almacenes =  rootFolder / "data" / "U6321303-2024-11-05.xls"
excel_path_14_operarios =  rootFolder / "data" / "U6331303-2024-11-05.xls"
excel_path_15_vehiculo =  rootFolder / "data" / "U6341303-2024-11-05.xls"
excel_path_16_tipos_horas =  rootFolder / "data" / "ULSTTHPT-2024-11-05.xls"
excel_path_17_tipos_venta =  rootFolder / "data" / "ULSTTVPT-2024-11-05.xls"

In [50]:
# Leer el archivo Excel con la ruta completa
df_bonos_trab = pd.read_excel(excel_path_1_bonos_trab)
df_taller_orden_rep = pd.read_excel(excel_path_2_taller_orden_rep)
df_bono_pres = pd.read_excel(excel_path_3_bonos_pres)
df_stock = pd.read_excel(excel_path_4_stock)
df_compras = pd.read_excel(excel_path_5_compras)
df_mostrador = pd.read_excel(excel_path_6_mostrador)
df_invertidas = pd.read_excel(excel_path_7_invertidas)
df_taller_orden_venta = pd.read_excel(excel_path_8_taller_orden_venta)
df_cliente = pd.read_excel(excel_path_9_cliente)
df_articulos = pd.read_excel(excel_path_10_articulo)
df_empresas = pd.read_excel(excel_path_11_empresas)
df_talleres = pd.read_excel(excel_path_12_talleres)
df_almacenes = pd.read_excel(excel_path_13_almacenes)
df_operarios = pd.read_excel(excel_path_14_operarios)
df_vehiculos = pd.read_excel(excel_path_15_vehiculo)
df_tipos_horas = pd.read_excel(excel_path_16_tipos_horas)
df_tipos_venta = pd.read_excel(excel_path_17_tipos_venta)

WARNING *** file size (2574483) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2562463) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1258878) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1921816) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3295101) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1176249) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1486466) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (10548518) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1032552) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1046368) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (69079) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (542317) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

### Conexión con capa bronze

In [ ]:
# = Connection to schema ddbb =

# Define database type and port 
db_type = 'postgresql' 
port = 5432

# Get schema name acording to layer name
db_schema = 'bronze'

# Create engine for the specific schema
engine = engine_setting(db_type=db_type, db_port=port, db_schema=db_schema)

# Establish the connection
conn = engine_connection(engine)

### Funciones de limpieza y transformación de datos.

- Eliminar columnas completamente vacias.
- Eliminar espacios vacios en cada registro.
- Verificar las columns que podrían ser números enteros 11 en lugar de 11.0.

In [15]:
# from processes.bronze.transform import columns_to_str

df_empresas = columns_to_str(df_empresas)
df_almacenes = columns_to_str(df_almacenes)
df_operarios = columns_to_str(df_operarios, ['Tall'])
df_vehiculos = columns_to_str(df_vehiculos, ['Cta. condu'])
df_tipos_horas = columns_to_str(df_tipos_horas)
df_tipos_venta = columns_to_str(df_tipos_venta)
df_cliente = columns_to_str(df_cliente)
df_articulos = columns_to_str(df_articulos, ['Alma'])
df_talleres = columns_to_str(df_talleres)

df_bonos_trab = columns_to_str(df_bonos_trab, ['Operario', 'Ref.OR', 'Tipo O.R.', 'IDV'])
df_taller_orden_rep = columns_to_str(df_taller_orden_rep, ['REF.OR', 'IDV', 'Recep'])
df_bono_pres = columns_to_str(df_bono_pres, ['Tall', 'Operario'])
df_stock = columns_to_str(df_stock, ['Alma', 'Mar', 'Famil', 'Fam.apro'])
df_compras = columns_to_str(df_compras, ['Alma', 'Referenci', 'Cuenta', 'T.com', 'Mar', 'Famil', 'Fam.apro', ])
df_mostrador = columns_to_str(df_mostrador, ['Alma', 'Refer.', 'Cuenta', 'Vende', 'Tipo venta', 'Marca', 'Fam.apro', 'Familia', 'Can'])
df_invertidas = columns_to_str(df_invertidas, ['Tall', 'REF.OR', 'Cta.cargo', 'Tipo O.R.', 'Tipo fac', 'Recep', 'Operario'])
df_taller_orden_rep = columns_to_str(df_taller_orden_rep, ['Tall', 'REF.OR', 'IDV', 'Cta.cargo', 'Tipo O.R.', 'Cta. tit'])

In [18]:
def columns_to_str(df, columns=None):
    '''
    Cleans each column in the dataframe by removing leading and trailing whitespace 
    and ensures that all values are of string type where applicable, keeping NaNs as NaNs.
    
    input:
        df (pd.DataFrame): DataFrame with columns to be cleaned and converted.
        colums (list): list of columns that need to be transform from float to int
    
    return:
        df (pd.DataFrame): DataFrame with cleaned columns and values converted to string type.
    '''
    
    # Drop rows where all columns are NaN
    df.dropna(how='all', inplace=True)

    # Clean columns float data type to int type
    if columns:
        for column in columns:
            try:
                ind_cero = df[df[column].isna()].index
                df.loc[ind_cero, column] = 0
                df[column] = df[column].astype(int)
                df[column] = df[column].replace(0, None)
            except:
                df[column] = df[column].replace('0', None)
                df[column] = df[column].replace(0, None)
                #pass
    
    # Convert each column of type object to string and strip whitespace
    for column in df.select_dtypes(include='object').columns:
        # Strip whitespace only for non-NaN values
        df[column] = df[column].where(df[column].isna(), df[column].astype(str).str.strip())
    
    # Apply the filter to remove rows that contain '***' in any text column
    for column in df.select_dtypes(include='object').columns:
        df = df[~df[column].str.contains(r'\*\*\*', na=False)]
    
    # Apply additional leading and trailing whitespace removal for all columns
    for column in df.columns:
        if df[column].dtype == 'object':
            # Strip whitespace only for non-NaN values
            df[column] = df[column].where(df[column].isna(), df[column].astype(str).str.strip())
    
    return df

## Data upload - Master tables

### Update new data

**Step 1**: Get existing values of the reference column in ddbb table.

**Step 2**: Compare dataframe values with ddbb existing values.

**Step 3**: If there are new values, values are going to be written in th bbdd.

**Considerations**
- All handle values need to be str type.
- Clean white spaces for all values.

In [ ]:
# One function 

def upload_new_data (table_name, df, key_column, engine):
    '''
    Process new values: 
    - Get existing values from the database.
    - Identify new values in the dataframe.
    - Write new values to the database table.

    input: 
        table_name (str): name of the table in the database.
        df (DataFrame): dataframe to be compared with existing values.
        key_column (str): key column name in the dataframe and table database to compare.
        engine (SQLAlchemy engine): database connection.

    output:
        None
    '''
    # Get existing values from the database
    query = f'SELECT "{key_column}" FROM "{table_name}"'
    existing_values = pd.read_sql(query, con=engine)[key_column].tolist()

    # Get new data by comparing dataframe with existing values
    df_new_data = df[~df[key_column].isin(existing_values)]

    # Write new values to the database
    if not df_new_data.empty:
        df_new_data.to_sql(table_name, con=engine, if_exists='append', index=False)

### Update Modified Data

In [ ]:
# Load data form database

def get_database_table (table_name):

    query = f'SELECT * FROM "{table_name}"'
    db_table = pd.read_sql(query, con=engine)

    return (db_table)

In [ ]:
def get_modified_data (df, db_table, key_column):
    '''
    Verify and get modified data comparing to existing data in database.

    input:
        - df (DataFrame): DataFrame to compare.
        - db_table (DataFrame): Dataframe with existing data from database.
        - key_colum (str): name of key column with is going to be used to merge both DataFrames.
    
    output:
        - modified_data (DataFrame): DataFrame with modified data. 
    '''
    merge_data = df.merge(
        db_table, on=key_column,
        suffixes=('_new', '_db')
    )

    # Make sure both DataFrames have the same column names and index
    new_merge_data = merge_data.filter(regex='_new$').sort_index(axis=1)
    db_data = merge_data.filter(regex='_db$').sort_index(axis=1)

    # Otherwise column names are adjusted
    new_merge_data.columns = new_merge_data.columns.str.replace('_new$', '', regex=True)
    db_data.columns = db_data.columns.str.replace('_db$', '', regex=True)

    # Compare rows where there are differences
    modified_data = merge_data[(new_merge_data != db_data).any(axis=1)]

    return modified_data

In [ ]:
def update_modified_data (modified_data, key_column, db_table_name):
    '''
    description
    '''
    for _, fila in modified_data.iterrows():
        # Create dictionary of columns with nuew values
        valores = {col.replace('_new', ''): fila[col] for col in modified_data.filter(regex='_new$').columns}
        key_value = fila[key_column]

        # Excecute update query
        set_clause = ', '.join([f'"{col}" = :{col}' for col in valores.keys()])
        query = f'UPDATE "{db_table_name}" SET {set_clause} WHERE "{key_column}" = :key_value'
        valores['key_value'] = key_value
        engine.execute(query, valores)
        print(f"{len(modified_data)} registros actualizados en '{db_table_name}'.")

Tabla Empresas

In [8]:
df_empresas

   Codig                                  Nombre
0     13                       PLG EUSKADI S.L.U
1     16  CANTABRIA DE SERVICIOS DE TRAILER S.L.
2      2          PEDRO GUTIERREZ LIEBANA S.A.U.

In [19]:
df_empresas = columns_to_str(df_empresas)
df_empresas

   Codig                                  Nombre
0     13                       PLG EUSKADI S.L.U
1     16  CANTABRIA DE SERVICIOS DE TRAILER S.L.
2      2          PEDRO GUTIERREZ LIEBANA S.A.U.

Update modified data

In [ ]:
# simulación 

df_empresas_mod = df_empresas.copy()
df_empresas_mod.loc[df_empresas_mod['Codig'] == '13', 'Nombre'] = 'Nombre Empresa Modificado'
df_empresas_mod

In [ ]:
df_empresas

In [ ]:
merge_data = df_empresas_mod.merge(
        df_empresas, on='Codig',
        suffixes=('_new', '_db')
    )
merge_data

In [ ]:
# Filter and make sure both DataFrames have the same column names and index
new_merge_data = merge_data.filter(regex='_new$').sort_index(axis=1)
db_data = merge_data.filter(regex='_db$').sort_index(axis=1)

# Otherwise column names are adjusted
new_merge_data.columns = new_merge_data.columns.str.replace('_new$', '', regex=True)
db_data.columns = db_data.columns.str.replace('_db$', '', regex=True)

# Compare rows where there are differences
modified_data = merge_data[(new_merge_data != db_data).any(axis=1)]

modified_data

Tabla Almacenes

In [ ]:
df_almacenes = columns_to_str(df_almacenes)
df_almacenes

Tabla Operarios

In [ ]:
df_operarios = columns_to_str(df_operarios, ['Tall'])
df_operarios

Tabla vehículos

In [51]:
df_vehiculos = columns_to_str(df_vehiculos, ['Cta. condu'])
df_vehiculos

,IDV,Matrícula,Bastidor,Mar,Modelo,Cta Titul,Cta. cli,Cta. condu,F. matri,KM,F. últ.,Famil,Cód. modelo
0,135399,R6653BBT,VS92MTRVS5A869061,OT,NaN,91867,91867,None,2024-04-30,1,2024-11-05,NaN,REMOLQUE
1,136174,R8042BDD,WKVDAF30300096974,LT,REMOLQUE,32873,32873,32873,2018-11-13,1,2024-11-05,912,NaN
2,117872,P103510,VV1P3AA8ASN164500,LT,SEMI REMOLQUE,75839,75839,75839,2016-03-18,274501,2024-11-05,912,NaN
3,120594,R1562BDG,VV1M3AA5ASN195889,LT,NaN,61781,61781,None,2020-10-13,65494,2024-11-05,NaN,NaN
4,120769,R5105BDD,VV1M3AA5ASN181832,LT,NaN,61781,61781,None,2019-10-17,246411,2024-11-05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,83470,R8488BCS,VV1M3EA5ASN163938,LT,SEMI REMOLQUE,61781,61781,None,2015-09-28,481955,2024-09-02,912,NaN
2057,132653,R7156BDL,VV1M3AA5ASN216360,LT,SEMI REMOLQUE,61781,61781,None,NaT,1,2024-09-02,912,NaN
2058,132628,R5367BDL,VV1M3AA5ASN216335,LT,SEMI REMOLQUE,61781,61781,None,NaT,1,2024-09-02,912,NaN
2059,116649,R6957BDF,WSM00000003234408,SH,REMOLQUE,61781,61781,None,2016-02-10,1,2024-09-02,739,NaN
2060,114001,R3689BDD,WSM00000007015553,SH,REMOLQUE,61781,61781,None,NaT,1,2024-09-02,739,NaN

Tabla Tipos Horas

In [ ]:
df_tipos_horas = columns_to_str(df_tipos_horas)
df_tipos_horas

Tabla Tipos Ventas

In [ ]:
df_tipos_venta = columns_to_str(df_tipos_venta)
df_tipos_venta

Tabla Cliente

In [ ]:
df_cliente = columns_to_str(df_cliente)
df_cliente

Tabla Articulos

In [ ]:
df_articulos = columns_to_str(df_articulos, ['Alma'])
df_articulos

Tabla Talleres

In [ ]:
df_talleres = columns_to_str(df_talleres)
df_talleres

## Data update - Fact tables

In [ ]:
df_bonos_trab = columns_to_str(df_bonos_trab, ['Operario', 'Ref.OR', 'Tipo O.R.', 'IDV'])
df_bonos_trab

In [ ]:
df_taller_orden_rep = columns_to_str(df_taller_orden_rep, ['REF.OR', 'IDV', 'Recep'])
df_taller_orden_rep

In [ ]:
df_bono_pres = columns_to_str(df_bono_pres, ['Tall', 'Operario'])
df_bono_pres

In [ ]:
df_stock = columns_to_str(df_stock, ['Alma', 'Mar', 'Famil', 'Fam.apro'])
df_stock

In [ ]:
df_compras

In [ ]:
df_compras = columns_to_str(df_compras, ['Alma', 'Referenci', 'Cuenta', 'T.com', 'Mar', 'Famil', 'Fam.apro', ])
df_compras

In [ ]:
df_mostrador = columns_to_str(df_mostrador, ['Alma', 'Refer.', 'Cuenta', 'Vende', 'Tipo venta', 'Marca', 'Fam.apro', 'Familia', 'Can'])
df_mostrador

In [ ]:
df_invertidas = columns_to_str(df_invertidas, ['Tall', 'REF.OR', 'Cta.cargo', 'Tipo O.R.', 'Tipo fac', 'Recep', 'Operario'])
df_invertidas

In [ ]:
df_taller_orden_rep = columns_to_str(df_taller_orden_rep, ['Tall', 'REF.OR', 'IDV', 'Cta.cargo', 'Tipo O.R.', 'Cta. tit'])
df_taller_orden_rep

In [ ]:
# maestros
# df_empresas.to_sql('Empresas U6311303', con=engine, if_exists='append', index=False) # ok 
# df_almacenes.to_sql('Almacenes U6321303', con=engine, if_exists='append', index=False) # ok 
# df_operarios.to_sql('Operarios U6331303', con=engine, if_exists='append', index=False) # ok
# df_vehiculos.to_sql('Vehiculo U6341303', con=engine, if_exists='append', index=False) # ok
# df_tipos_horas.to_sql('TipoHoras ULSTTHPT', con=engine, if_exists='append', index=False) # ok
# df_tipos_venta.to_sql('TipoVentasAlmacen ULSTTVPT', con=engine, if_exists='append', index=False) # ok
# df_cliente.to_sql('Cliente U6301303', con=engine, if_exists='append', index=False) # ok 
# df_articulos.to_sql('Articulo U6301303', con=engine, if_exists='append', index=False) # ok
# df_talleres.to_sql('Talleres U6311303', con=engine, if_exists='append', index=False) # ok 

# # hechos
# df_bonos_trab.to_sql('BonosTrabajadas U532', con=engine, if_exists='append', index=False) # ok 
# df_taller_orden_rep.to_sql('Taller OrdenReparacion U533', con=engine, if_exists='append', index=False) # ok
# df_bono_pres.to_sql('BonosPresencia U551', con=engine, if_exists='append', index=False) # ok
# df_stock.to_sql('Stock U552', con=engine, if_exists='append', index=False) # ok
# df_compras.to_sql('Compras U553', con=engine, if_exists='append', index=False) # ok
# df_mostrador.to_sql('Taller OrdenVentaMostrador U554', con=engine, if_exists='append', index=False) # ok
# df_invertidas.to_sql('Invertidas U555', con=engine, if_exists='append', index=False) # ok
# df_taller_orden_venta.to_sql('Taller OrdenVentaTaller U560', con=engine, if_exists='append', index=False) # ok

In [ ]:
if conn:
    conn.close()

# Capa Silver

Extract Data

Trandform data 

En esta proceso de transformación, se llevan a cabo las siguientes tareas:

* Asignar nombres correspondientes a tablas y campos.
* Gestión de valores nullos. 
* Asignación de los tipos de datos correspondientes.

In [76]:
project_root = Path(os.getcwd()).parent
sys.path.append(str(project_root))

In [78]:
from model.model_info import almacenes_info, articulos_info, bonos_presencia_info
from model.model_info import bonos_trabajadas_info, clientes_info
from model.model_info import compras_info, empresas_info, invertidas_info
from model.model_info import operarios_info, stock_info, ordenes_reparacion_info
from model.model_info import ordenes_venta_mostrador_info, ordenes_venta_taller_info
from model.model_info import talleres_info, tipos_horas_info, tipos_ordenes_reparacion_info
from model.model_info import tipos_ventas_almacen_info, vehiculos_info

ImportError: cannot import name 'almacenes_info' from 'model.model_info' (c:\Users\MonicaAlcantarMartin\OneDrive - LIS Data Solutions\Documentos\Proyectos\JGL21\jgl21-rpa-dwh\dwh\model\model_info.py)

In [80]:
from model.model_info import vehiculos_info

In [70]:
# Asignar nombres correspondientes a campos de tablas
df_almacenes.columns = almacenes_info.keys()
df_operarios.columns = operarios_info.keys()
df_empresas.columns = empresas_info.keys()
df_vehiculos.columns = vehiculos_info.keys()
df_tipos_horas.columns = tipos_horas_info.keys()
df_tipos_venta.columns = tipos_horas_info.keys()
df_cliente.columns = clientes_info.keys()
df_articulos.columns = articulos_info.keys()
df_talleres.columns = talleres_info.keys()

NameError: name 'almacenes_info' is not defined

In [71]:
almacenes_info.keys()

NameError: name 'almacenes_info' is not defined